body {
  background-color: rgb(242, 242, 242) !important;
}

.container-fluid {
  padding: 25px;
}

.blockly-workspace {
  height: 600px;
}

/* Blockly workspace */
.injectionDiv {
  border-radius: 0.5rem;
}

.language {
  padding: 15px;
}

.display {
  background-color: rgb(186, 186, 186);
  border-radius: 1.5rem;
  padding: 15px;
  margin-top: 15px;
}
