body {
  background-color: rgb(242, 242, 242) !important;
}

.container-fluid {
  padding: 25px;
}

.blockly-workspace {
  min-height: 500px;
  height: 75vh;
}

/* Blockly workspace */
.injectionDiv {
  border-radius: 0.5rem;
}

.language {
  padding: 15px;
}

.display {
  min-height: 500px;
  height: 75vh;
  background-color: rgb(205, 205, 205);
  border-radius: 1.5rem;
  padding: 10px;
  margin-top: 15px;
}

.game-canvas {
  display: flex;
  align-items: center;
}