body {
  background-color: #f1f1f1;
}

.container-fluid {
  padding: 25px !important;
  padding-left: 15px !important;
}

.blockly-workspace {
  height: 800px;
}

.injectionDiv {
  border-radius: 0.5rem;
}

.simulation {
  border-radius: 0.5rem;
  background-color: rgb(24, 24, 24);
}